/* Editor styles, this file may get moved back in /src/ in the future */

.wp-block-cdevroe-mastodon-favorites {
    position: relative;
    height: 175px;
    background-color: #bbbbbb;
    text-align: center;
}

.wp-block-cdevroe-mastodon-favorites strong {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}